<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <style>
      .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}
body {
    background : linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
}

.profile h2{
    color: white;
}
.profile h5{
    color: white;
    transform: translateY(-5px)
}
.aboutme {
    background : linear-gradient(#fffeff 0%, #ffffffd5 40%, #fdfdfd00 100%);
    padding-bottom: 200px;
}
.footer {
    background-color: #fffeff;
    padding-bottom: 20px;
}
.contact a {
    color: black;
    font-size: 30px;
}

.watermark {
    padding-top: 20px;
}
.achivement {
    padding-top: 55px;
}
.aboutme {
    padding-top: 80px;
}
.row {
    padding: 0px 10px;
}
    </style>
    <title>Dodi Profile</title>

    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Dodi Waisnawa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#Home" style="color: black;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#About me" style="color: black;">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Achivement" style="color: black;">Achivement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Contact" style="color: black;">Contact</a>
            </li>
          </ul>
      
        </div>
      </div>
    </nav>
    <section id="Home">
      <div class="container">
        <div class="profile">
        <img class="rounded-circle" src="static/profileimage.jpg" width="200px" alt="">
        
      <h2>I Kadek Dody Aditya Waisnawa</h2>
      <h5>Profesional Trader</h5>
    </div>
      </div>
    </section><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffff" fill-opacity="1" d="M0,32L40,26.7C80,21,160,11,240,37.3C320,64,400,128,480,154.7C560,181,640,171,720,160C800,149,880,139,960,112C1040,85,1120,43,1200,42.7C1280,43,1360,85,1400,106.7L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
    <section id="About me" class="aboutme">
      <h1 class="text-center">About me </h1>
        <div class="container text-center">
          <div class="row">
            <div class="col-sm">I am a Management S1 student. I personally have expertise in the field of financial instruments, namely technical and fundamental analysis. I am a hard worker, able to work in a team, and easy to adapt.
            </div>
            <div class="col-sm">
<!-- Button trigger modal -->
<p class="text-center">Started on</p>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Education
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SD Negeri 2 Kedonganan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <br>
        <h5 class="modal-title" id="exampleModalLabel">SMP Negeri 4 Kuta Selatan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <br>
        <h5 class="modal-title" id="exampleModalLabel">SMA Negeri 2 Kuta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <br>
        <h5 class="modal-title" id="exampleModalLabel">Universitas Pendidikan Nasional</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <br>
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<p class="text-center">Finished On</p>
</div>

            <div class="col-sm"> My Skill :
              Office Program <br>
              Team Work <br>
              Communication <br>
              Financial Market <br>
              Accounting <br>
              <div>
        </div>
      </div>
    </section>
    <section id="Achivement" class="achivement">
      <div class="container cent">
        <h1 style="color: white;" class="text-center">Achivement</h1>
        <div class="container text-center">
          <div class="row">
            <div class="col-sm-4">
              <div class="card mx-auto" style="width: 17rem;">
              <div class="card-body">
                <h5 class="card-title">Trading Competition</h5>
                <h6 class="card-subtitle mb-2 text-muted">U-Force Competition</h6>
                <p class="card-text">Here I managed to finish in the top 10 of the university level trading Competition.</p>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
              <div class="card mx-auto" style="width: 17rem;">
                <div class="card-body">
                  <h5 class="card-title">Chairman of the committe</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Seminar Bincang Investasi II</h6>
                  <p class="card-text">On this occasion i was chairman of the commitee of a capital markets study group organization and managed to make the event a success .</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card mx-auto" style="width: 17rem;">
                <div class="card-body">
                  <h5 class="card-title">Football Competition</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Badung Cup</h6>
                  <p class="card-text">Here i took part in high school football competition and won 1st place.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffff" fill-opacity="1" d="M0,32L40,26.7C80,21,160,11,240,37.3C320,64,400,128,480,154.7C560,181,640,171,720,160C800,149,880,139,960,112C1040,85,1120,43,1200,42.7C1280,43,1360,85,1400,106.7L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
    <section id="Contact" class="footer">
      <h1 class="text-center">Contact</h1>
      <div class="container text-center contact">
        <a href="https://www.instagram.com/dodiwaisnawa/"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/6282144983336/"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
      <p class="text-center watermark">Created by dodiwaisnawa 2023</p>
    </section>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>